
 body
 {
   
   background-color: white;
   background-image: url(/assets/images/travel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
 }	
  #f1
   {
       border-top : 25px solid #990033;
       width: 30%;
       padding :20px;
        position:relative;
         width: 400px;
        height: 700px;
        margin-left :58.3%;
        border: 10px solid white;
        align-content: center;
        background-color: white;

    }
.label
{
   display: inline-block;
   width :30px;
  text-align:left;

}		 
form
 {
       border: 3px solid #f1f1f1;

}
.container {
       padding: 15px;
       margin-top: 40px;
}
.me{
    text-align: center;
}


  